h1 {
  font-size: 30px; }

h2 {
  font-size: 15px; }

h3 {
  font-size: 17px; }

span {
  font-size: 13px; }

p {
  font-size: 14px; }

html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input, textarea, button, select, option, optgroup, fieldset, label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor; }

[class*='flex'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  [class*='flex'] > * {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 10px; }

[class*='flex'][class*='-jc-'] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*='flex'][class*='-jfs-'] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

[class*='flex'][class*='-jfe-'] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[class*='flex'][class*='-jsa-'] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class*='flex'][class*='-jsb-'] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class*='flex'][class*='-ac-'] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

[class*='flex'][class*='-as-'] {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

[class*='flex'][class*='-afs-'] {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

[class*='flex'][class*='-afe-'] {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

[class*='flex'][class*='-nw-'] {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

[class*='-f10-'] > * {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

[class*='-f01-'] > * {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-f11-'] > * {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-fw100px-'] > * {
  width: 100px;
  -webkit-flex-basis: 100px;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px; }

[class*='-fw200px-'] > * {
  width: 200px;
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px; }

[class*='-fw300px-'] > * {
  width: 300px;
  -webkit-flex-basis: 300px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }

[class*='-fw400px-'] > * {
  width: 400px;
  -webkit-flex-basis: 400px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px; }

[class*='-fw500px-'] > * {
  width: 500px;
  -webkit-flex-basis: 500px;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px; }

[class*='flex'][class*='-l1-'] > * {
  width: calc( 100% - 20px);
  -webkit-flex-basis: calc( 100% - 20px);
  -ms-flex-preferred-size: calc( 100% - 20px);
  flex-basis: calc( 100% - 20px); }

[class*='flex'][class*='-l2-'] > * {
  width: calc( 50% - 20px);
  -webkit-flex-basis: calc( 50% - 20px);
  -ms-flex-preferred-size: calc( 50% - 20px);
  flex-basis: calc( 50% - 20px); }

[class*='flex'][class*='-l3-'] > * {
  width: calc( 33.33% - 20px);
  -webkit-flex-basis: calc( 33.33% - 20px);
  -ms-flex-preferred-size: calc( 33.33% - 20px);
  flex-basis: calc( 33.33% - 20px); }

[class*='flex'][class*='-l4-'] > * {
  width: calc( 25% - 20px);
  -webkit-flex-basis: calc( 25% - 20px);
  -ms-flex-preferred-size: calc( 25% - 20px);
  flex-basis: calc( 25% - 20px); }

[class*='flex'][class*='-l5-'] > * {
  width: calc( 20% - 20px);
  -webkit-flex-basis: calc( 20% - 20px);
  -ms-flex-preferred-size: calc( 20% - 20px);
  flex-basis: calc( 20% - 20px); }

[class*='flex'][class*='-l6-'] > * {
  width: calc( 16.66% - 20px);
  -webkit-flex-basis: calc( 16.66% - 20px);
  -ms-flex-preferred-size: calc( 16.66% - 20px);
  flex-basis: calc( 16.66% - 20px); }

@media screen and (max-width: 992px) {
  [class*='flex'][class*='-m1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-m2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-m3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); }
  [class*='flex'][class*='-m4-'] > * {
    width: calc( 25% - 20px);
    -webkit-flex-basis: calc( 25% - 20px);
    -ms-flex-preferred-size: calc( 25% - 20px);
    flex-basis: calc( 25% - 20px); } }

@media screen and (max-width: 768px) {
  [class*='flex'][class*='-s1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-s2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-s3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); } }

@media screen and (max-width: 320px) {
  [class*='flex'][class*='-xs1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-xs2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); } }

[class*='btn'] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }

.calltoaction-btn {
  display: inline-block;
  width: 120px;
  visibility: visible; }
  @media screen and (max-width: 768px) {
    .calltoaction-btn {
      position: fixed;
      top: 5px;
      right: 3%; } }

.delete-btn {
  display: none; }

.rabbit-btn {
  background-image: linear-gradient(to bottom, #B678C3 0%, #7F4390 100%);
  border-radius: 17px;
  line-height: 34px;
  height: 34px;
  box-shadow: 0 7px 15px 0 rgba(88, 16, 109, 0.49); }

.step-btn {
  -webkit-flex: 0 0 34px;
  -ms-flex: 0 0 34px;
  flex: 0 0 34px;
  width: 34px;
  margin: 5px; }

.save-btn {
  margin: 5px;
  width: 130px;
  max-width: calc( 100% - 100px); }

.code-btn {
  display: inline-block;
  vertical-align: middle;
  width: calc( 50% - 10px);
  margin: 5px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  letter-spacing: .5px;
  border-radius: 5px; }

.share-btn {
  width: calc( 100% - 10px);
  margin: 5px;
  line-height: 40px;
  font-size: 15px;
  letter-spacing: .5px;
  background-color: #9763A7;
  border-radius: 20px; }
  .share-btn i {
    margin-right: 5px; }

body {
  background-color: #9763A7;
  color: #ECECEC;
  font-family: 'Libre Franklin', sans-serif; }

img {
  width: 100%; }

section {
  max-width: 450px; }

h2 {
  margin-bottom: 5px;
  padding: 0 13px;
  margin-top: 10px;
  letter-spacing: .5px; }

#save h2, #code-and-share h2 {
  margin-top: 20px; }

.rabbit-box {
  background-color: #ECECEC;
  border-radius: 13px;
  box-shadow: 0 13px 35px 0 rgba(88, 16, 109, 0.49); }

.left {
  text-align: left; }

.right {
  text-align: right; }

.mid {
  text-align: center; }

.top-box {
  padding: 10px 10px;
  height: 496px; }

.bottom-box {
  height: calc( 100vh - 585px - 20px);
  max-height: 120px; }

.recommend-style {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14); }

.recommend-random {
  border-radius: 14%; }

.preview-show {
  position: relative;
  margin: 43px 0; }

.preview-show-body {
  position: relative;
  top: 5%;
  margin: 0 auto;
  width: 90%;
  height: 90%; }
  .preview-show-body img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: None 5s linear 0s infinite both;
    animation: None 5s linear 0s infinite both; }

#preview-1 {
  width: 36%;
  top: 17%;
  -webkit-animation-name: A;
  animation-name: A; }

#preview-2 {
  width: 55%;
  top: 43%;
  -webkit-animation-name: B;
  animation-name: B;
  -webkit-filter: drop-shadow(0 7px 0 rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 7px 0 rgba(0, 0, 0, 0.2)); }

#preview-3 {
  width: 40%;
  -webkit-animation-name: C;
  animation-name: C;
  top: 68%; }

@-webkit-keyframes A {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  20% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  30% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  40% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  50% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0); }
  90% {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes A {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  20% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  30% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  40% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  50% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0); }
  90% {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes B {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  20% {
    -webkit-transform: translate3d(1%, 0, 0);
    transform: translate3d(1%, 0, 0); }
  30% {
    -webkit-transform: translate3d(1%, 0, 0);
    transform: translate3d(1%, 0, 0); }
  40% {
    -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-1%, 0, 0); }
  50% {
    -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-1%, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0); }
  90% {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes B {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  20% {
    -webkit-transform: translate3d(1%, 0, 0);
    transform: translate3d(1%, 0, 0); }
  30% {
    -webkit-transform: translate3d(1%, 0, 0);
    transform: translate3d(1%, 0, 0); }
  40% {
    -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-1%, 0, 0); }
  50% {
    -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-1%, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0); }
  90% {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes C {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  20% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  30% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  40% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  50% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  90% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes C {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  20% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  30% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  40% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  50% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  90% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.preview-btns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 20px; }

#next {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg); }

.elements-tabbar {
  width: 100%;
  height: 50px;
  color: rgba(0, 0, 0, 0.2); }

.elements-tab-btn {
  transition: 0.3s ease;
  padding-bottom: 10px; }

.elements-tab-btn:hover {
  padding-bottom: 10px; }

.elements-tab-btn.active {
  color: #9763A7;
  box-shadow: 0 2px 0 0 #9763A7; }

.elements-content {
  height: calc( 100% - 50px); }

.elements-content-box {
  height: 100%;
  overflow: auto;
  display: none;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }

.elements-content-box.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.e-c-b-c {
  padding: 2%; }

#code-and-share > div {
  padding: 10px;
  font-size: 0; }
