.build-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	z-index: -1;
	&:after {
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.6);
	}
}
section {
	max-width: 450px;
	.mockup-btns, .bottom-box, .top-box, h2 {
		opacity: 1;
		transition: .6s ease;
		transform: translateY(0%);
	}
	@media screen and ( max-width: 992px ) {
		max-width: 100%;
	}
}
section.hide {
	.mockup-btns, .bottom-box, .top-box, h2 {
		opacity: 0;
		transform: translateY(5%);
	}
}

.mid, .right, .left {
	width: calc( 33% - 10px );
	margin: 5px;
}

#my_random { display: none; }
#random { display: none; }
section.mid {
	@media screen and ( max-width: 992px ){
		margin: 0;
		width: 100%;
		height: auto;
		flex: 0 0 100%;
		.top-box {
			height: calc( 100vh - 297px );
			margin: 0 0 30px;
		}
		.bottom-box {
			height: auto;
			padding-bottom: 0;
		}
		#random.active {
			display: inline-block;
			font-size: 12px;
		}
		#my_random.active {
			display: inline-block;
			font-size: 12px;
		}
		.zuwatch-btn {
			line-height: 29px;
			height: 29px;
			i { margin-right: 2px; }
		}
		.step-btn {
			width: 30px;
			flex: 0 0 30px;
		}
		#save { display: none; }
		#mockup-back {
			display: block;
		}
	}
}
section.left {
	text-align: left;
	@media screen and ( max-width: 992px ){
		position: absolute;
		width: 100%;
		height: 100vh;
		overflow: auto;
		top: 0;
		left: 0;
		margin: 0;
		z-index: 10;
		background-color: rgba(0,0,0,.9);
		transform: translateX(-100%);
		transition: .3s ease;
		.top-box {
			height: calc( 100vh - 37px )
		}
		&.active {
			transform: translateX(0%);
		}
		#save { display: none }
		#recommend-back {
			display: block;
		}
	}
}
#cart-back, #cart-bigger {
	display: none;
	position: absolute;
	left: 20px;
	width: 30px;
	top: 0px;
	font-size: 15px;
}
#cart-bigger {
	display: block;
	width: 120px;
	left: 0;
	span {
		display: none;
		font-size: 12px;
		font-family: $fontp;
		&.b { display: inline; }
	}
	&.active span.s { display: inline; }
	&.active span.b { display: none; }
	&.active i { transform: rotate(180deg) }
}
#recommend-back {
	display: none;
	position: absolute;
	right: 20px;
	width: 30px;
	top: 0px;
	font-size: 15px;	
}
#mockup-back {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	display: none
}
section.right {
	@media screen and ( max-width: 992px ){
		position: relative;
		top: 0;
		width: 100%;
		right: 0;
		margin: 0px 0;
		#cart-back {
			display: block;
		}
		#cart-bigger {
			display: none;
		}
		.top-box {
			display: flex;
			flex-direction: column;
			height: auto;
			min-height: 0;
			.elements-content {
				flex: 0 0 auto;
				height: 150px;
				box-shadow: 0 0 0 0 rgba(0,0,0,0);
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				.elements-content-box {
					flex-wrap: nowrap;
				}
			}
		}
		.e-c-b-c {
			flex-basis: auto;
			width: 13%;
		}
		#code-and-share {
			position: fixed;
			width: 100%;
			height: 187px;
			top: 0;
			right: 0;
			transform: translateX(100%);
			transition-delay: 0;
			transition: .4s;
			overflow: hidden;
			&>h2 { margin-top: 0; }
		}
		#code-and-share.active {
			transform: translateX(0%);
		}
		.bottom-box {
			height: calc( 100% - 37px );
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			.cart-content {
				overflow: visible;
				height: auto;
				flex-wrap: nowrap;
				&>div {
					flex-basis: auto;
					width: auto;
					height: 93px;
					&>img{
						width: auto;
						height: 100%;
					}
				}
			}
		}
	}
	@media screen and ( max-width: 500px ){
		.e-c-b-c {
			width: 24%;
		}
	}
}

// height: 84px
h2 {
	background-color: $sup;
	color: rgba(0,0,0,.78);
	text-align: center;
	font-size: 13px;
	height: 37px;
	line-height: 37px;
}
#save, #code-and-share {
	h2 { margin-top: 20px; }
}

.normal-box {
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),
							0 1px 2px 0 rgba(0,0,0,.1);
}

.left .top-box {
	// padding: 10px 10px;
	height: calc( 100vh - 120px - 106px - 129px );
	max-height: 496px;
	overflow: auto;
	@media screen and ( max-width: 992px ) {
		max-height: 100%;
	}
}
.mid .top-box {
	// padding: 10px 10px;
	height: calc( 100vh - 51px - 91px - 43px - 76px );
	max-height: 496px;
	overflow: auto;
	@media screen and ( max-width: 992px ) {
		max-height: 100%;
	}
}
.mid .bottom-box {
	height: auto;
	padding-bottom: 0;
}
.right .top-box {
	height: calc( 100vh - 120px - 69px - 129px );
	max-height: 533px;
	@media screen and ( max-width: 992px ) {
		max-height: 100%;
	}
}
@media screen and ( min-width: 992px ) {
	.bigger.right .top-box {
		height: calc( 100vh - 120px - 69px - 129px - 250px );
		max-height: 283px;
	}
	.bigger.right .bottom-box {
		height: 400px;
		.cart-content {
			height: calc( 400px - 37px );
		}
	}
}
.bottom-box {
	height: 150px;
	overflow: hidden;
}

.mid .top-box {
	overflow: visible;
}
.mid .top-box::-webkit-scrollbar {
  width: 0;
}

#recommend .top-box {
	align-content: flex-start;
}

.recommend-style {
	margin: 0;
	flex: 1 0 50%;
	width: 50%;
	min-width: 150px;
	height: 90px;
	background-image: url('../img/main/bg/index-bg-pro.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	i, b {
		color: rgba(255,255,255,.9);
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 1px;
		text-shadow: 0 6px 3px rgba(0,0,0,.7);
	}
	i {
		font-size: 20px;
		margin-left: 5px;
	}
}

// mockup
.mockup-btns {
	height: 43px;
	margin-bottom: 8px;
	.mockup-btn {
		display: inline-block;
		width: 120px;
		line-height: 30px;
		height: 30px;
		font-size: 13px!important;
		border-radius: 15px;
		box-shadow: inset 0 0 0 2px rgba(255,255,255,.8);
		margin: 0 3px;
		&:hover {
			background-color: #fff;
			color: rgba(0,0,0,.7);
		}
	}
	@media screen and (max-width: 992px) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 11;
		background-color: rgba(0,0,0,.7);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: flex;
		transform: translateY(-100%)!important;
		transition: .3s ease 0s!important;
		margin-bottom: 0;
		&.active {
			transform: translateY(0%)!important;
		}
		.mockup-btn {
			margin: 10px 0;
		}
	}
}
.preview-show {
	position: relative;
	margin: 0px 0 43px;
}
.preview-show-body {
	position: relative;
	top: 5%;
	margin: 0 auto;
	width: 90%;
	height: 100%;
	img {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		animation: None 5s linear 0s infinite both;
	}
	@media screen and (max-width: 992px) {
		padding-top: 0;
		height: 100%;
	}
}
#save .preview-show-body {
	animation: show .5s cubic-bezier(0.25, 0.1, 0.29, 1.66) 0s 1 both;
}
#save .save-box.null {
	display: none;
}
.save-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes show {
		0% { opacity: 0; transform: translateY(100%) }
	100% { opacity: 1; transform: translateY(0%)   }
}

img.preview-1 {
	z-index: 2;
	height: 100%;
	width: auto;
	top: 0;
}
img.preview-2 {
	z-index: 3;
	height: 100%;
	width: auto;
	top: 0;
}
img.preview-3 {
	z-index: 1;
	height: 100%;
	width: auto;
	top: 0;
}
div.preview-1, div.preview-2, div.preview-3 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding-left: 100%;
	height: 100%;
	margin: auto;
	background-repeat: no-repeat;
	transition: 0s ease;
}
div.preview-1 {
	z-index: 2;
	background-image: url('../img/main/product/pv-case.png');
}
div.preview-2 {
	z-index: 3;
	background-image: url('../img/main/product/pv-dial.png');
}
div.preview-3 {
	z-index: 1;
	background-image: url('../img/main/product/pv-strap.png');
}

//preview-btns
.preview-btns {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 20px;
	cursor: auto;
}
#next {
	transform: rotate3d(0,1,0,180deg);
}

//elements-tabbar
.elements-tabbar {
	width: 100%;
	height: 37px;
	color: rgba(0,0,0,.2);
	.elements-tab-btn {
		height: 37px;
		line-height: 37px;
		margin: 0;
		width: calc( 100% / 3 );
		flex: 0 0 calc( 100% / 3 );
		background-color: rgba(0,0,0,.1);
	}
}
.elements-tab-btn {
	transition: 0.3s ease;
	b {
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
		font-family: $fontp;
		font-size: 12px;
		width: 35px;
		line-height: 20px;
		border-radius: 20px;
		height: 20px;
		margin-left: 5px;
		margin-top: 8px;
		vertical-align: top;
		opacity: .3;
	}
}
.elements-tab-btn:hover {
}
.elements-tab-btn.active {
	color: rgba(0,0,0,.7);
	background-color: rgba(0,0,0,0);
	box-shadow: 0 2px 0 0 $main;
	b { opacity: 1; }
}

.elements-content {
	height: calc( 100% - 37px );
}
.elements-content-box {
	height: 100%;
	overflow: auto;
	display: none;
	background-color: #fff;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
	align-content: flex-start;
}
.elements-content-box.active {
	display: flex;
}

.e-c-b-c:hover {
	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}
.e-c-b-c {
	position: relative;
	border-radius: 5px;
	padding: 2%;
	min-height: 90px;
	box-shadow: 0 0 0 2px rgba(255,255,255,0);
	transition: .2s ease
}
.e-c-b-c.active {
	// order: -1;
}

.element-selected {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #fff;
	right: 5px;
	top: 5px;
	border-radius: 8px;
	transition: .3s ease;
	box-shadow: inset 0 0 0 0px #7ED321,
							inset 0 0 0 0px #fff;
}
.element-selected.active {
	background-color: #7ED321;
	box-shadow: inset 0 0 0 2px #7ED321,
							inset 0 0 0 4px #fff;
}

#code-and-share>div {
	padding: 0px 10px;
	font-size: 0;
	h2 {
		background-color: transparent;
		margin-top: 0;
		font-size: 12px;
	}
}

#code-and-share {
	position: relative;
}

.cart-content {
	height: calc( 150px - 37px );
	overflow: auto;
	align-content: flex-start;
	>div {
		position: relative;
		text-align: left;
		padding: 15px 0 0;
		order: -1;
		transition: .3s ease;
	}
	>div.null {
		order: initial;
	}
	img {
		cursor: pointer;
	}
	img:active {
		transform: translateY(3px);
	}
}
.cart-content>div>img {
	width: 90%;
}

.code-section {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $sup;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 15px;
	transition: .3s ease;
	h3 {
		color: rgba(0,0,0,.2);
		font-size: 12px;
		letter-spacing: .5px;
	}
}
.code-section-area {
	background-color: rgba(0,0,0,.05);
	line-height: 40px;
	height: 40px;
	width: 100%;
	padding: 0 10px;
	overflow: auto;
	margin-top: 5px;
	color: $main;
	font-size: 12px;
	text-align: center;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
.code-section-btn-area {
	margin-top: 12px;
}
.code-section-btn-area .btn {
	display: inline-block;
	font-size: 15px;
	width: 100px;
	line-height: 27px;
	border-radius: 15px;
	margin: 0 5px;
}
.code-section-copy {
	background-color: #88CDE4;
}
.code-section-render {
	background-color: #88CDE4;
}
.code-section-copy, .code-section-render {
	position: relative;
	vertical-align: top;
	overflow: hidden;
	&.success:after {
		content: 'Success!';
		position: absolute;
		top: 0;
		left: 0;
		font-size: 15px;
		width: 100px;
		line-height: 27px;
		border-radius: 15px;
		color: #fff;
		background-color: #9DEB92;
		color: #567653;
		z-index: 2;
		animation: sc 1.4s ease 0s 1 both;
	}
}
@keyframes sc {
		0% { transform: translateY(100%) }
 	 20% { transform: translateY(0%) }
 	 80% { transform: translateY(0%) }
 	100% { transform: translateY(-100%) }
}
.code-section-cancel {
	background-color: rgba(0,0,0,.2);
}
.generate-code-section {
	transform: translateX(100%);
	opacity: 0;
	pointer-events: none;
}
.input-code-section {
	transform: translateX(-100%);
	opacity: 0;
	pointer-events: none;
}
.input-code-section.active, .generate-code-section.active {
	transform: translateX(0%);
	opacity: 1;
	pointer-events: visible;
}


#output-popup {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	overflow: auto;
	margin: 0 auto;
	.close {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.7);
		cursor: pointer;
	}
	.content {
		padding: 30px 0;
		position: relative;
		z-index: 2;
		width: 100%;
		max-width: 500px;
		margin: 50px auto 0;
		border-radius: 4px;
		box-shadow: 0 15px 35px 0 rgba(0,0,0,.3);
		background-color: #fff;
		.close {
			width: 16px;
			height: 16px;
			right: 10px;
			top: 10px;
			left: auto;
			background-color: transparent;
			color: rgba(0,0,0,.7);
		}
	}
	h2 {
		background-color: transparent;
		box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
	}
}

#code-result {
	display: inline-block;
	padding: 10px;
	overflow: auto;
	font-size: 12px;
	font-family: $fontp;
	margin: 20px auto;
	background-color: rgba(0,0,0,.1);
	color: rgba(0,0,0,.8);
	div { text-align: left; }
}
#code-result-copy {
	width: 120px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.78);
	border-radius: 30px;
	line-height: 30px;
	font-size: 13px;
	font-family: $fontp;
}

/// mobile
#mobile-tools {
	display: none;
	@media screen and (max-width: 992px) {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 41px;
		pointer-events: none;
		div {
			pointer-events: visible;
			font-size: 22px;
			line-height: 41px;
			width: 13%;
			max-width: 60px;
			text-align: center;
		}
		.gobackindex-btn { 
			float: left; 
			font-size: 18px;
		}
		.hotstyle-btn { float: left; }
		.mockup-btn { float: right; }
		.seecart-btn { float: right; }
	}
}

#mockup-area {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 12;
	.back {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		line-height: 50px;
		z-index: 3;
	}
	.wrap {
		font-size: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.wrap>img {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	.wrap .mockup-woman {
		position: absolute;
	}
	.watch {
		position: absolute;
		top: 13.7vw;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 16.5%;
		z-index: 1;
		transform: translateX(2.5%);
		padding-top: 31.15%;
	}
	.watch img {
		position: relative;
		width: 100%;
	}
	.watch img.ab {
		position: absolute;
		top: 0;
		left: 0;
	}
	.watch img.d { z-index: 3; }
	.watch img.c { z-index: 2; }
	.watch img.s { z-index: 1; }
}