@charset "UTF-8";
// ========= 客製化區 =========
@import 'custom_style/variables'; // 變數
@import 'custom_style/font'; // landing page layout
// ========= base =========
@import 'base/reset'; // doppler reset
@import 'base/dophlex'; // dopplex
// ========= element =========
@import 'element/btn'; // btn & calltoaction
@import 'element/nav';
@import 'index';
@import 'build';


body {
	background-color: $main;
	color: $sup;
	font-family: $fontp;
	font-family: $fontt;
	text-align: center;
	overflow: hidden;
}

body>.content {
	height: calc( 100vh - 101px );
	@media screen and ( max-width: 992px ) {
		height: auto;
		min-height: 0;
	}
}

h1 {
	font-size: 26px;
	color: rgba(255,255,255,.95);
	@media screen and ( max-width: 992px ){
		font-size: 17px;
	}
}

.logo {
	img { width: 100%; }
}

footer {
	font-size: 12px;
	padding-bottom: 20px;
	font-family: $fontp;
	color: rgba(0,0,0,.2);
	@media screen and ( max-width: 992px ) {
		display: none;
	}
}


.zu-title {
	height: auto;
	padding: 10px 0;
	max-width: 170px;
	width: 90%;
	margin: 0 auto;
}
.zu-title a { 
	display: block;
	@media screen and ( max-width: 992px ){
		span  {
			display: none;
		}
	}
}

span.subtitle {
	font-size: 12px;
	color: rgba(255,255,255,.7);
	font-family: $fontp;
}

img {
	width: 100%;
}


