@charset "UTF-8";
// ========= 客製化區 =========
@import 'custom_style/variables'; // 變數
@import 'custom_style/font'; // landing page layout
// ========= base =========
@import 'base/reset'; // doppler reset
@import 'base/dophlex'; // dopplex
// ========= element =========
@import 'element/btn'; // btn & calltoaction
@import 'element/nav';
@import 'index';
@import 'build';


body {
	background-color: $main;
	color: $sup;
	font-family: $fontp;
	font-family: $fontt;
	text-align: center;
	overflow: hidden;
}

body>.content {
	min-height: 100vh;
	@media screen and ( max-width: 768px ) {
		min-height: 0;
	}
}

h1 {
	font-size: 26px;
	color: rgba(255,255,255,.95);
	@media screen and ( max-width: 768px ){
		font-size: 17px;
	}
}


.zu-title {
	height: auto;
	padding: 10px 0;
}
.zu-title a { 
	display: block;
	@media screen and ( max-width: 768px ){
		margin: 0 5px;
		span  {
			display: none;
		}
	}
}

span.subtitle {
	font-size: 12px;
	color: rgba(255,255,255,.7);
	font-family: $fontp;
}

img {
	width: 100%;
}


