@charset "UTF-8";
// ========= 客製化區 =========
@import 'custom_style/variables'; // 變數
@import 'custom_style/font'; // landing page layout
// ========= base =========
@import 'base/reset'; // doppler reset
@import 'base/dophlex'; // dopplex
// ========= element =========
@import 'element/btn'; // btn & calltoaction
@import 'element/nav';
@import 'index';
@import 'build';


body {
	background-color: $main;
	color: $sup;
	font-family: $fontp;
	font-family: $fontt;
	text-align: center;
}

body>.content {
	min-height: 100vh;
}

h1 {
	font-size: 26px;
	color: rgba(255,255,255,.95);
}


.zu-title {
	height: auto;
	padding: 10px 0;
}
.zu-title a { display: block }

span.subtitle {
	font-size: 12px;
	color: rgba(255,255,255,.7);
	font-family: $fontp;
}

img {
	width: 100%;
}


